@import 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';

:root {
  --color-black: #000;
  --color-orange: #FF7B00;
}

* {
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

.home-page {
  max-width: 65%;
  margin: 50px auto;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo-image {
  margin: 10px 20px 0px 0px;
}

.links{
  margin: 0px 120px;
}

.links a {
  margin: 0px 20px;
  text-decoration: none;
  color: var(--color-black);
  font-size: 16px;
}

.links a:hover {
  color: var(--color-orange);
  transition: color 200ms;
}

/*======================================== INFORMAÇÕES DA PÁGINA ==============================================*/

.information-page {
  background: #FBDFDB;
  border-radius: 8px;
  width: 910px;
  height: 340px;
}

.information-page img{
  margin: 25px 100px 0px 0px; 
}

.content {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
  width: 316px;
  margin: 115px 250px 117px 60px;
}

.text h1 {
  font-size: 28px;
  color: var(--color-black);
  line-height: 1px;
  height: 22px;
  margin-bottom: 10px;
  width: 500px;
}

.text p {
  opacity: 0.9;
  font-size: 17px;
  color: var(--color-black);
  line-height: 24px;
  height: 80px;
  text-align: justify;
  width: 320px;
}




