@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --color-orange: #FFB268;
  --color-orange-dark: #FF7B00;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
 }

body {
  background: #282a36;
  font: 400 14px Montserrat, sans-serif;
  color: white;
}

header {
  padding: 32px;
  border-bottom: 1px solid var(--color-orange);
  background: rgba(0, 0, 0, 0.2);
}

.links {
  text-align: center;
}

.links a {
  color: white;
  font-size: 25px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}
.links a:hover{
  color: var(--color-orange);
  transition: color 200ms;
  
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 32px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  color: var(--color-orange-dark);
}

#wrapper h2 {
  font-size: 22px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 942px;
  margin: 32px auto;
  font-size: 18px;
}

#wrapper p a {
  text-decoration: none;
  color: var(--color-orange);
}

/*

#links-footer a {
border-bottom: 1px solid var(--color-orange-dark);
}

*/