@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
   border: 0;
 }

body {
  background: #282a36;
  font: 400 14px Montserrat, sans-serif;
  color: whitesmoke;
}

header {
  padding: 32px;
  border-bottom: 1px solid #FFB268;
  background: rgba(0, 0, 0, 0.2);
}

header div {
  text-align: center;
}

header div a {
  color: whitesmoke;
  font-size: 25px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}

header div a:hover{
  color: #FFB268;
  transition: color 200ms;
  
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
 max-width: 20% ;
 margin-bottom: 32px;
 /* border-radius: 50%; */
 /* border: 2px solid #FF7B00; */
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
  color: #FF7B00;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 52px;
  font-weight: bold;
  margin-top: 8px;
  opacity: 0.8;
}
