@import 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';

:root {
  --color-black: #000;
  --color-orange: #FF7B00;
}

* {
  margin: 0;
}

/*=================== CABEÇALHO DA PÁGINA ====================*/

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

.home-page {
  max-width: 65%;
  margin: 50px auto;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.logo-image {
  margin: 10px 20px 0px 0px;
}

.links{
  margin: 0px 120px;
}

.links a {
  margin: 0px 20px;
  text-decoration: none;
  color: var(--color-black);
  font-size: 18px;
}

.links a:hover {
  color: var(--color-orange);
  transition: color 200ms;
}

/*=================== RODAPÉ DA PÁGINA ====================*/

footer {
  background-color: rgba(5, 4, 2, 0.145);
  padding: 1px;
  height: 42px;
  text-align: center;
  width: 100%;
}

footer h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-black);
  text-align: center;
  margin-top: 14px;
  margin-bottom: 24px;
}