{% extends 'layout.html' %}

{% block head %}

<title>Cursos</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

<div id="wrapper">
  <h1>Aulas</h1>
</div>

<section class="cards">

  <div class="card" id="ipHuSfOYhwA">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/ipHuSfOYhwA/maxresdefault.jpg" alt="Vídeo Aula">
    </div>

    <div class="card__content">
      <p>Formulário JS Puro | José Raimundo</p>
    </div>

    <div class="card__info">
      <p>57 Minutos</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="pQN-pnXPaVg">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/pQN-pnXPaVg/maxresdefault.jpg" alt="Vídeo Aula">
    </div>

    <div class="card__content">
      <p>HTML In 2 Hours | Paulo Pimenta</p>
    </div>

    <div class="card__info">
      <p>2 Horas</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="c7P03kkrEG8">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/c7P03kkrEG8/maxresdefault.jpg" alt="Vídeo Aula">
    </div>

    <div class="card__content">
      <p>Configurando VSCode | Mariana Carla</p>
    </div>

    <div class="card__info">
      <p>15 Minutos</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="_l4pJ7HCrl4">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/_l4pJ7HCrl4/maxresdefault.jpg" alt="Vídeo Aula">
    </div>

    <div class="card__content">
      <p>Java Introdução | Thiago Silva</p>
    </div>

    <div class="card__info">
      <p>13 Minutos</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="iZ1ucWosOww">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/iZ1ucWosOww/maxresdefault.jpg" alt="Vídeo Aula">
    </div>

    <div class="card__content">
      <p>Curso Web Completo | Mariano Lago</p>
    </div>

    <div class="card__info">
      <p>6 Horas</p>
      <p class="card__price">Free</p>
    </div>
  </div>

  <div class="card" id="HXV3zeQKqGY">
    <div class="card__image-container">
      <img src="https://img.youtube.com/vi/HXV3zeQKqGY/maxresdefault.jpg" alt="Vídeo Aula">
    </div>

    <div class="card__content">
      <p>SQL In 4 Hours | José Raimundo</p>
    </div>

    <div class="card__info">
      <p>4 Horas</p>
      <p class="card__price">Free</p>
    </div>
  </div>

</section>

<div class="modal-overlay">
  <div class="modal">
    <a class="close-modal">
      <i class="material-icons">close</i>
    </a>

    <div class="modal-content">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>
</div>

<script src="scripts.js"></script>

{% endblock %}