<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <title>Launch Base Rocketseat</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <header>
    <div class="links">
      <a href="index.html">Sobre</a>
      <a href="aulas.html">Aulas</a>
    </div>
  </header>

  <div id="wrapper">
    <img src="https://raw.githubusercontent.com/maxwel-silva/indian-food-app/master/assets/splash.png" alt="indian-image error">

    <h1>Indian School</h1>

    <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo</h2>
    <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa <a href="https://www.google.com" target="_blank">Google</a></p>
  </div>

  <div id="links-footer" class="links">
    <a href="https://github.com/maxwel-silva/" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/maxwel-silva-6b8881102/" target="_blank">LinkedIn</a>
    <a href="https://twitter.com.br" target="_blank">Twitter</a>
  </div>
  
</body>
</html>